<nav class='navbar navbar-expand-lg navbar-dark categories p-0'>
    {% if active == "home" %}
    <a class="navbar-brand py-2 px-3 text-white m-0" style='background-color: #727272cb;' href='{% url "football:home" %}'> صفحه اصلی </a>
    {% else %}
    <a class="navbar-brand py-2 px-3 text-white m-0" href='{% url "football:home" %}'> صفحه اصلی </a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse m-0" id="collapsibleNavbar">
        <ul class='navbar-nav m-0'>
        {% for category in categories %}
            {% if active == category.slug %}
            <li class='nav-item py-1 px-2 text-center' style='background-color: #727272cb;'>
                <a class="nav-link text-white" href='{% url "football:category" category.slug %}'> {{category.name}} </a>
            </li>
            {% else %}
            <li class='nav-item py-1 px-2 text-center'>
                <a class="nav-link text-white" href='{% url "football:category" category.slug %}'> {{category.name}} </a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</nav>