{% extends 'football/base_forms.html' %}

{% block head %}
    <title>Sign up</title>
{% endblock %}

{% block form_title %}ثبت نام{% endblock %}

{% block form_body %}
    {% if user.is_authenticated %}
        <div class='text-right alert alert-success m-3'>
            <p>تبریک! شما با موفقیت در سایت ثبت نام کردید.</p>
            <a class='btn btn-link' href='{% url "football:home" %}'>بازگشت به صفحه اصلی</a>
            <a class='btn btn-link' href='{% url "football:add-article" %}'>افزودن مقاله جدید</a>
        </div>
    {% else %}
        <form id="article_form" class='p-2 m-2' method="post" 
        action='{% url "football:sign-up" %}' enctype="multipart/form-data">
            {% csrf_token %}
            <!-- User Form -->
            {% for field in user_form.visible_fields %}
                {% for error in field.errors %}
                    <div class='text-right alert alert-danger alert-dismissible fade show'>
                        {{error}}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endfor %}
                <div class='row p-2'>
                    <div class='col-sm-4 text-right'>{{field.label_tag}}</div>
                    <div class='col-sm-8 text-center'>{{field}}</div>
                </div>
            {% endfor %}

            <!-- Profile Form -->
            {% for field in profile_form.visible_fields %}
                {% for error in field.errors %}
                    <div class='text-right alert alert-danger alert-dismissible fade show'>
                        {{error}}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endfor %}
                <div class='row p-2'>
                    <div class='col-sm-4 text-right'>{{field.label_tag}}</div>
                    <div class='col-sm-8 text-center'>{{field}}</div>
                </div>
            {% endfor %}
            <div class='text-center'>
                <button type="submit" class='btn btn-success py-1'>ثبت نام</button>
            </div>
        </form>
    {% endif %}
{% endblock %}