<nav class='navbar navbar-expand p-0 top-nav'>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class='navbar-nav m-0 p-0'>
        
        {% if user.is_authenticated %}
            <a class='navbar-brand m-0 p-2 px-3' href='{% url "football:dashboard" %}'>
                <img src='{{ user.profile.picture.url }}' alt='logo' width='32px'
                 height='32px' class='rounded-circle'>
            </a>
            <li class='nav-item py-1 px-2 text-center'>
                <a class="nav-link text-white" href='{% url "football:add-article" %}'>
                    <span>افزودن مقاله</span> <i class="fa">&#xf0fe;</i>
                </a>
            </li>

            <li class='nav-item py-1 px-2 text-center'>
                <a class="nav-link text-white" href='{% url "football:sign-out" %}'>
                    <span>خروج</span> <i class="fa">&#xf08b;</i>
                </a>
            </li>
        {% else %}
            <li class='nav-item py-1 px-2 text-center'>
                <a class="nav-link text-white" href='{% url "football:sign-up" %}'>
                    <span>ثبت نام</span> <i class="fa">&#xf234;</i>
                </a>
            </li>

            <li class='nav-item py-1 px-2 text-center'>
                <a class="nav-link text-white" href='{% url "football:sign-in" %}'>
                    <span>ورود</span> <i class="fa">&#xf090;</i>
                </a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>